[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.2"
markdown = "==3.8.2"

[dev-packages]
pyhamcrest = "==2.1.0"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"

[requires]
python_version = "3"
