[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
markdown = "==3.4.1"

[dev-packages]
pyhamcrest = "==2.0.4"
pytest = "==7.1.2"

[requires]
python_version = "3.10"
