[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.3"
markdown = "==3.10"

[dev-packages]
pyhamcrest = "==2.1.0"
pytest = "==9.0.0"
pytest-cov = "==7.0.0"

[requires]
python_version = "3"
