name: Deploy Example to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # check out repo
    - uses: actions/checkout@v5
    # install all deps in pipenv
    - name: install_deps
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: install
    # run stella
    - name: install_deps
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: run python stella.py -fh -ah -hcp EXAMPLE/prometheus -o ./index.html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
