name: Unittests
on: [push]
jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 # Checking out the repo

    - name: install_deps
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: install -d # Install all dependencies, including development ones

    - name: show_graph
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: graph # shows installed pip packages

    - name: test
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: run pytest -vv
